<!DOCTYPE html>

<html>

<%- include('./partials/head'); %>

<body>
    <%- include('./partials/navbar'); %>
    <div class="my-container">
        <h1>Thank you!</h1>
    </div>

    <%- include('./partials/footer'); %>
</body>

</html>